<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xqh.financial.mapper.PayOrderMapper" >
  <resultMap id="BaseResultMap" type="com.xqh.financial.entity.PayOrder" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="CHAR" />
    <result column="order_serial" property="orderSerial" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="money" property="money" jdbcType="INTEGER" />
    <result column="platform_id" property="platformId" jdbcType="INTEGER" />
    <result column="pay_type" property="payType" jdbcType="TINYINT" />
    <result column="callback_state" property="callbackState" jdbcType="TINYINT" />
    <result column="platform_order_no" property="platformOrderNo" jdbcType="CHAR" />
    <result column="interest_rate" property="interestRate" jdbcType="INTEGER" />
    <result column="callback_success_time" property="callbackSuccessTime" jdbcType="INTEGER" />
    <result column="callback_fail_time" property="callbackFailTime" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="INTEGER" />
  </resultMap>
</mapper>